mlkit/.idea/workspace.xml
mlkit/app/google-services.json
mlkit/app/build.gradle
mlkit/gradle/wrapper/gradle-wrapper.properties
mlkit/.idea/workspace.xml
mlkit/.gradle/buildOutputCleanup/buildOutputCleanup.lock
mlkit/.gradle/checksums/checksums.lock
mlkit/local.properties
mlkit/.idea/assetWizardSettings.xml
mlkit/.idea/caches/build_file_checksums.ser
mlkit/.idea/modules/app/app.iml
mlkit/local.properties
mlkit/.idea/caches/build_file_checksums.ser
mlkit/.idea/modules/app/app.iml
mlkit/local.properties
mlkit/local.properties
mlkit/.idea/modules/app/app.iml
mlkit/.idea/caches/build_file_checksums.ser
mlkit/.idea/assetWizardSettings.xml
mlkit/.idea/modules/app/app.iml
